[Unit]
Description=A small service to resume gpu clock on boot
#After=graphical.target

[Service]
Type=oneshot
ExecStart=sudo /bin/gpu-control resume
Restart=on-failure
RestartSec=5s
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
