[Unit]
Description=Small daemon to proxy screen brightness adjustments without needing root using "brightd"
Wants=lm_sensors.service
After=lm_sensors.service

[Service]
Type=simple
ExecStart=/usr/bin/brightd

[Install]
WantedBy=multi-user.target
